// Variables Cintanegra
size-p = 1rem
big = 1.56rem
menu = 1.2rem

primary-cn = #E59900
light-primary-cn = #EEB532
secondary-cn = #EEB532
gray-cn = #E8E8E8
dark-gray-cn = #CCCCCC
dark-gray-2-cn = #C9C9C9
dark-cn  = #000000


