@import "~src/assets/styl/lib/_variables.styl";
.bg-top
  background-color: primary-cn
.p-top
  font-size normal
a
  font-family Raleway
  font-size menu
  font-weight bold
.navbar-item
  padding 1.5rem 0.75rem
